* {
    margin: 0px;
    padding: 0px;
}
ul {
    background-color: orchid;
    
}
li {
    display: inline-block;
    padding: 20px;
    background-color: orchid;
}
li:hover {
    background-color: palegreen;
}
h1 {
    margin-bottom: 100px;
    margin-top: 50px;
    text-decoration: black;
}
.r {
    margin-bottom: 100px;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
}
p {
    font-size: 20px;
}
body {
    background-color: aqua;
}
a {
    text-decoration: none;
}
img {
    width: 96.9vw;
}